body{
    padding: 0;
    margin: 0;
    background: #ECD9AA;
}

::placeholder {
    color: #999; 
    font-style: italic; 
}



#addElement {
    top: 0;
    background: #e9cf8f;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px; 
    width: 100%;
    position: fixed;
    border: 0;
    box-sizing: border-box;
}

#initiativeBox {
    width: 35px;
    display: inline;
}

.input {
    display: inline;
    height: 30px;
    border-radius: 5px;
}

#button {
    display: inline;
    height: 36px;
    width: 35px;
    background: lightgreen url(./assets/cross.svg) no-repeat center;
    border-radius: 5px;
}

#orderList {
    list-style-type: none;
    font-size: 20px;
    width: 50%;
    margin: 55px auto 0; 
    padding: 0; 
}

li {
    text-align: center;
    background: #e9cf8f;
    border-radius: 5px;
    border: solid 1px #6b5e3e;
    font-family: 'Zilla Slab', serif;
    margin-bottom: 5px; 
}
li div {
    margin-left: 20px;
    text-align: right;
    display: inline-block;
    color: white;
    margin-right: 20px;
    border: 1px solid red;
}

.bottom_div {
    background: #e9cf8f;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex; 
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    justify-content: center;
}

#nextTurn {
    width: 250px;
    height: 35px;
    background: lightgreen;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}



#orderList :first-child{
    color: green;
}