*{
  font-family: 'Lato', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

::placeholder {
    color: #999; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}


:root{
  --white: #d8d8d8fd;
  --black:#868686;
}


#addElement {
  position: relative; 
  top: 0;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 0.05rem 0.5rem var(--black);
  gap: 5px;
  }

#initiativeBox {
    width: 35px;
    display: inline;
}

.input {
    display: block;
    height: 30px;
    border: none;
    width: 176px;
    box-shadow: 0 0.05rem 0.5rem var(--black);
    
}

datalist#sugestoes-container {
  width: 0.5rem;
}

datalist option {
  width: 50px;
}


.sugestao:hover {
  background-color: #f0f0f0;
}


#button {
    display: inline;
    height: 32px;
    width: 32px;
    background: lightgreen url(./assets/cross.svg) no-repeat center;
    background-position: center;
    cursor: pointer;  
    border: none;
    box-shadow: 0 0.1rem 0.5rem var(--black);
}
#addElement button:hover{
    background-color: rgb(100, 204, 100);
}



#orderList {
    list-style-type: none;
    font-size: 20px;
    width: 250px;
    margin: 15px auto 0;
    padding: 0;
    padding-bottom: 25%;
  }
  
  #orderList li {
    background: var(--white);
    margin-bottom: 5px;
    padding-left: 10%;
    overflow: hidden; 
    box-shadow: 0 0.05rem 0.5rem var(--black);
  }
  
  #orderList  li input {
    margin-right: 2%; 
    text-align: right;
    float: right;
    border: none;
    padding-left: 5%; 
    height: 20px;
    width: 20px;
    padding: 2px;
    background: var(--white);
    text-align: center;
  }
  #orderList  li  .healthpoints{
    background: green;
    border-radius: 0px 3px 3px 0;
    margin-right: 0;
    color: white;
   }
   #orderList  li ::placeholder{
    color: white;
   }

  #orderList li:first-child{
    font-weight: bold;
    color: green;
}

#bottom_div {
    background: var(--white);
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    gap: 5px;
    text-align: center;
    display: flex; 
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    justify-content: center;
    box-shadow: 0 0.1rem 0.5rem var(--black);
}


#nextTurn {
    width: 90px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: lightgreen url(https://raw.githubusercontent.com/gabrielribbz/turnOrder/0c417cc654897da93f217f9195b62f3b740cb905/assets/arrowright.svg) no-repeat center;
    box-shadow: 0 0.1rem 0.5rem var(--black);
    border: none;
}

#previousTurn {
    width: 90px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: lightgreen url(https://raw.githubusercontent.com/gabrielribbz/turnOrder/0c417cc654897da93f217f9195b62f3b740cb905/assets/arrowleft.svg) no-repeat center;
    box-shadow: 0 0.1rem 0.5rem var(--black);
    border: none;
}


#refresh{
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: lightgreen url(https://raw.githubusercontent.com/gabrielribbz/turnOrder/0c417cc654897da93f217f9195b62f3b740cb905/assets/refresh.svg) no-repeat center;
    border: none;
    box-shadow: 0 0.1rem 0.5rem var(--black);
}


#delete{
    height: 35px;
    width: 35px;
    background: lightcoral url(https://github.com/gabrielribbz/turnOrder/blob/main/assets/delete.jpeg?raw=true) no-repeat;
    background-size: 20px; /* Ajusta o tamanho da imagem para cobrir o botão */
    background-position: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.5rem var(--black);
}


#bottom_div #delete:hover{
    background-color: rgb(187, 92, 92);
}
#bottom_div button#delete.dm{
    background-color: rgb(194, 31, 31);
}

#bottom_div button:hover {
    background-color: rgb(100, 204, 100);
}




.accordion {
    position: fixed;
    left: 2px;
    top: 50px;
    width: 15%;
  }
  
  .tab-button {
    margin-top: 2px;
    display: block;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    background: var(--white) url(https://raw.githubusercontent.com/gabrielribbz/turnOrder/main/assets/effect.png) no-repeat center;
    background-size: contain; 
    transition: width 0.3s ease;
    box-shadow: 0 0.1rem 0.5rem var(--black);
  }
  #tabopen{
    width: 80%;
    border-radius: 5px 5px 0 0;
  }

  #opcoes{
    justify-content: center;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 80%;
    height: 20px;
    border-color: #fff transparent transparent transparent;
    
  }

  #opcoes option{
    text-align: center;
  }


  .tab-content {
    overflow: hidden;
    align-items: center; 
    align-content: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 80%;

    height: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  .tab-content ul {
    padding: 0;
  }
  #active{
    height: 100px; 
    opacity: 1;
  }

  .tab input {
    display: block;
    font-size: 15px;
    height: 20px;
    width: 80%;
    margin: auto;
    padding: 0;
    
  }
 
  #selectElement{
    border: none;
    width: 80%;
    height: 20px;
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  #selectElement:hover{
    background-color: rgb(100, 204, 100);
  }

  #selectElement.slct {
    background-color: aqua;
  }



  li span{
    display: flex;
    font-size: 80%;
    margin: 5px;
  }
  #orderList li span input{
      background-color: transparent;
  }

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    60% { transform: translateX(-2px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0); }
  }
  
  .shakeElement {
    animation: shake 0.5s;
  }

  @keyframes ping {
    0% { transform: scale(1); }
    20% { transform: scale(0.95); }
    40% { transform: scale(0.9); }
    60% { transform: scale(0.95); }
    100% { transform: scale(1); }
  }

  ul#orderList li.deleteAnim {
    background-color: rgb(194, 31, 31);
    border-color: rgb(87, 2, 2);
    animation: ping 0.5s;
  }

  ul#orderList li.slctAnim {
    background-color: rgb(105, 168, 168);
    border-color: rgb(83, 136, 136);
    animation: ping 0.5s;
  }